
.optionsItem {
  svg {
    color: #7b5cd9;;
    cursor: pointer;
    height: 31px;
    width: 31px;
  }
  .displayNone {
    display: none;
  }
  .cursorPointer {
    cursor: pointer;
  }
  .svgDisabled {
    color: #717171;
    cursor: pointer;
    height: 31px;
    width: 31px;
  }
}
.textStyle {
  color: #3481ef;
  font-family: Poppins;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: 6px;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 496px;
  margin: auto;
  .heading {
    color: #000000;
    font-family: Poppins;
    font-size: 33px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 50px;
    margin-bottom: 37px;
  }
  .actionsContainer {
    display: flex;
    align-items: center;
    gap: 25px;
    button {
      width: 172px;
      height: 53px;
      border-radius: 25px;
      font-size: 19px;
      font-weight: 500;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: capitalize;
    }
  }
  .socialContainers {
    display: flex;
    gap: 20px;
    margin-top: 42px;
    div {
      width: 143px;
      height: 108px;
      border-radius: 13px;
      justify-content: center;
      align-items: center;
      display: flex;
      border: 1px solid #939393;
      svg {
        height: 56px;
        width: 56px;
        cursor: pointer;
      }
    }
  }
}

.line {
  display: flex;
  margin-top: -10px;
}

.line2 {
  width: 152px;
  height: 13px;
  border-bottom: 1px solid #cccccc;
  text-align: center;
}
.lineText {
  font-size: 16px;
  padding-left: 22px;
  padding-right: 20px;
  font-family: Poppins;
  letter-spacing: 0;
  line-height: 25px;
}

.errorText {
  color: red;
}

.eyeIcon {
  cursor: pointer;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .signupContainer {
      > * {
        &:not(:last-child) {
          margin-bottom: 30px !important;
        }
      }
    }
    .actionsContainer {
      > * {
        &:not(:last-child) {
          margin-right: 25px !important;
        }
      }
    }
    .socialContainers {
      > * {
        &:not(:last-child) {
          margin-right: 20px !important;
        }
      }
    }
  }
}
